$maxWidth: 940px;
$fullWidth: 100%;

$mainFontColor: #242424;;
$secondaryFontColor: #979797;
$tertiaryFontColor: #242424;

$primaryFont: 'ubuntuCondensed', sans-serif;
$bodyFont: 'verdana', sans-serif;
$bannerFont:  'bebasNeue', sans-serif;